/*  */
body {
	background-color: #E4ECF2;
	color: #375C14;
	padding-top: 0px;
	padding-bottom: 20px;

}

/* h4 */
h4 {
}

img{
}

/* Styling for the page container */
.container{
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Styling for the header (Branding and Nav Container) */
.header{
	border: 3px solid #375C14;
	border-top: none;
	border-radius: 2px;
	padding: 20px 0 0 25px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #375C14;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* Link styling for navigation */
.nav{
	clear:both;
}
.nav > li{
	float:left;
}

.nav > li >  a{
	color: #375C14;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

	/* Current page link */
	.active{
		text-decoration: underline;
		font-weight: bold;
	}

.nav > li > a:hover, a:active, a:visited{
	background-color: transparent;
	color: #375C14;
	text-decoration: underline;
	font-weight: bold;
}

/* Styling for the main portion of the page */
article{
	margin: 40px 0;
}

article p + h4 {
	  margin-top: 28px;
}

/* Link styling for portfolio links */
article a{
	color: inherit;
}

article a:hover{
	color: #95A2AD;
}

/* Each website of the listed portfolios is inside of one of these */
article .col-lg-6 {
	text-align: center;
}

/* Text below portfolio sample images */
article .col-lg-6 p{
	text-align: left;
	padding: 22px;
}

/* Footer styling */
footer, .footer{
	padding-top: 19px;
	border-top: 1px solid #e5e5e5;
	color: #375C14;
}

	/* Responsive: Portrait tablets and up */
	@media screen and (min-width: 768px) {
	  .container {
	    max-width: 730px;
	  }

	  /* Remove the padding we set earlier */
	  .header,
	  .marketing,
	  .footer {
	    padding-right: 0;
	    padding-left: 0;
	  }
	  /* Space out the masthead */
	  .header {
	    margin-bottom: 30px;
	  }

	  .header h3{
	  	clear: none;
	  }
	  /* Remove the bottom border on the jumbotron for visual effect */
	  .jumbotron {
	    border-bottom: 0;
	  }
	}