/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
	font: 125%/1.5 "Source Sans Pro", sans-serif;
	background-color: #375C14;
	color: #FFF;
	padding-top: 0px;
	padding-bottom: 20px;
}

/* h4 */
h4 {
}

img{
}

/* Color styling for input form placeholder text */
::-webkit-input-placeholder {
   color: #6A6B69;
}

:-moz-placeholder { /* Firefox 18- */
   color: #6A6B69;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #6A6B69;  
}

:-ms-input-placeholder {  
   color: #6A6B69;  
}


/* Styling for the page container */
.container{
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Styling for the header (Branding and Nav Container) */
.header{
	border-bottom: 3px solid #FFF;
	padding: 20px 0 0 25px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #FFF;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* Link styling for navigation */
.nav{
	float: right;
}
.nav > li{
	float:left;
}

.nav > li >  a{
	color: #FFF;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar {
	margin-bottom: 0;
}
.navbar-toggle{
	border-color: #d3d3d3;
}

.navbar-collapse{
	border: none;
	box-shadow: none;
}

.navbar-toggle .icon-bar{
	background-color: #d3d3d3;
}
	/* Current page link */
	.active{
		text-decoration: underline;
		font-weight: bold;
	}

.nav > li > a:hover, a:visited{
	background-color: transparent;
	text-decoration: underline;
	color: #fff;
}

/* Styling for the main portion of the page */
article{
	padding: 0 25px;
	margin: 40px 0;
	font-size: 18px;
}

article #introText{
	text-align: center;
	margin: 10px;
}

article p{
	margin-top: 28px;
    font-size: 75%;
}

/* Link styling for portfolio links */
article a{
	color: #FFF;
	text-decoration: underline;
}

article a:hover{
	color: #95A2AD;
}

/* Styling for the Contact form on Contact page */
#contact ul{
	list-style: none;
	list-style-position: inside;
	padding: 0;
}

#contact ul li{
	margin-bottom: 25px;
	width: 100%;
	float: left;
}

#contact input{
	width: 100%;
	clear: both;
	background-color: #A8C997;
	border:none;
	padding:2px;
	color: #000;
	font-size: 16px;
}

#contact #message{
	width: 100%;
	margin-bottom: 0;
}

#contact #message label{
	width: 100%;
	text-align: center;
}

#contact #message textarea{
	color: #000;
	background-color: #A8C997;
	width: 100%;
	height: 150px;
	border:none;
	border-radius: 3px;
	clear: both;
	font-size: 16px;
}

#contact input:focus, #contact textarea:focus{
	background-color: #fff;
}

#contact #submit{
	width: 100%;
}

#contact button{
	float: right;
	clear: both;
	margin-top: 15px;
	width: 100%;
	border: 1px dashed #000;
	border-radius: 3px;
	background-color: #A8C997
}

#contact button:hover{
	background-color: #90C65C;
	border: 1px dashed #d3d3d3;
	font-weight: bold;
}

#contact input[type=submit]{
	margin-top: 10px;
}

/* Footer styling */
footer{
	padding: 20px 0 0 0;
	border-top: 3px solid #FFF;
	color: #FFF;
	font-size: 60%;
}

footer p{
	padding: 0 0 0 12px;
}

footer a, strong {
	padding-left:10px;
}

footer a {
	text-decoration: underline;
	color: #fff;
}

footer a:hover{
	color: #d3d3d3;
}

	/* Responsive: Portrait tablets and up */
	@media screen and (min-width: 768px) {
	  .container {
	    max-width: 730px;
	  }

	  /* Remove the padding we set earlier */
	  .header,
	  .marketing,
	  .footer {
	    padding-right: 0;
	    padding-left: 0;
	  }
	  /* Space out the masthead */
	  .header {
	    margin-bottom: 30px;
	  }

	  .header h3{
	  	clear: none;
	  }
	  
	  #contact ul li{
		margin-bottom: 25px;
		width: 50%;
		float: left;
	  }
	  
	  #contact input{
	  	width: 80%;
	  }
	  
	  #contact #email input, #contact #email label {
	  	float: right;
	  }
	  
	  .footer, footer{
	  	padding-left: 25px;
	  }
	}
