/*  */
body {
	font: 125%/1.5 "Source Sans Pro", sans-serif;
	background-color: #375C14;
	color: #FFF;
	padding-top: 0px;
	padding-bottom: 20px;
}

/* h4 */
h4 {
}

img{
}

/* Styling for the page container */
.container{
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Styling for the header (Branding and Nav Container) */
.header{
	border-bottom: 3px solid #FFF;
	padding: 20px 0 0 25px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #FFF;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* Link styling for navigation */
.nav{
	float: right;
}
.nav > li{
	float:left;
}

.nav > li >  a{
	color: #FFF;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-toggle{
	border-color: #d3d3d3;
}

.navbar-toggle .icon-bar{
	background-color: #d3d3d3;
}
	/* Current page link */
	.active{
		text-decoration: underline;
		font-weight: bold;
	}

.nav > li > a:hover, a:visited{
	background-color: transparent;
	text-decoration: underline;
	color: #fff;
}

/* Styling for the main portion of the page */
article{
	padding: 0 25px;
	margin: 40px 0;
	font-size: 18px;
}

article #introText{
	text-align: center;
	margin: 10px;
}

article p{
	margin-top: 28px;
    font-size: 75%;

}

/* Link styling for portfolio links */
article a{
	color: #FFF;
	text-decoration: underline;
}

article a:hover{
	color: #95A2AD;
}

	/* Styling for the Contact form on Contact page */
	#contact ul{
		list-style: none;
		list-style-position: inside;
		padding: 0;
	}
	#contact input{
		clear: both;
		float: right;
	}
/* Footer styling */
footer, .footer{
	padding: 20px 0 0 0;
	border-top: 3px solid #FFF;
	color: #FFF;
}

	/* Responsive: Portrait tablets and up */
	@media screen and (min-width: 768px) {
	  .container {
	    max-width: 730px;
	  }

	  /* Remove the padding we set earlier */
	  .header,
	  .marketing,
	  .footer {
	    padding-right: 0;
	    padding-left: 0;
	  }
	  /* Space out the masthead */
	  .header {
	    margin-bottom: 30px;
	  }

	  .header h3{
	  	clear: none;
	  }

	  .footer, footer{
	  	padding-left: 25px;
	  }
	}


